@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('./svg.scss');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

.background {
  height: 65vh; 
}
.title {
  font-family: 'Pacifico';
  font-size: 3rem;
  margin-left: 2%;
  margin-top: 3%;
  color: #053d5d;
}
h3 {
  font-weight: 400;
}

header {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}

main {
  background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10vh 0 80vh;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: 37%;

  &::after {
    border-right: 2px dashed #eee;
    content: '';
    position: absolute;
    top: calc(10vh + 1.618em);
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
  }
}
